button a {
	text-decoration: none;
}

.header {
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 40px;
}

.form-input {
	display: block;
	padding: 20px;
	margin-top: 20px;
	width: 100%;
	font-size: 14px;
	height: 50px;
	border-radius: 10px;
	border: 1px solid #ffffff;
	background: #ffffff;
}

#btn-subscriber {
	color: #000000;
	cursor: pointer;
	font-weight: bold;
	height: 52px;
	width: 150px;
	border: none;
	margin-top: 20px;
}

.alert {
	border-radius: .25rem;
	border: 1px solid transparent;
	margin-bottom: 1rem;
	padding: .75rem 1.25rem;
}

.alert-success {
	background-color: #dff0d8;
	border-color: #d0e9c6;
	color: #3c763d;
}

.alert-danger {
	background-color: #f2dede;
	border-color: #ebcccc;
	color: #a94442;
}

.alert-info {
	background-color: #d9edf7;
	border-color: #bcdff1;
	color: #31708f;
}