* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    zoom: 80%;
    background-color: rgb(241, 237, 233);
    font-family: Montserrat;

}

.img-thumbnail {
    background-color: rgb(241, 237, 233);
    border: 0px;
}

table {
    font-size: 12px;
}




